<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WonderLust</title>
  </head>
  <body>
    <h1>This is my travel website</h1>
    <div class="Container"><%- body %></div>
  </body>
</html>
