<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WonderLust</title>
  </head>
  <body>
    <h3>All Listings</h3>
    <ul>
      <% for(listing of allListings) { %>

      <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>

      <%}%>
    </ul>
  </body>
</html>
